# lab_simulation: 1/14,000,605

As you learned in the lecture, **simulation** is an extremely powerful tool to estimate probabilities by replicating the reality and determining the successful observations.

In this lab, we will try some increasingly interesting simulations and explore the possibilities with this tool.

(Wonder why the title is 1/14,000,605? See Avengers: Infinity War at [https://www.youtube.com/watch?v=eGKPfZTXHsc](https://www.youtube.com/watch?v=eGKPfZTXHsc))

# Part 0 | Your Group!

Edit the next Python cell to add information about who you're working within your lab section:

In [ ]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = ""
ca1_name = ""
ca2_name = ""


# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = ""
partner1_netid = ""
partner1_major = ""

partner2_name = ""
partner2_netid = ""
partner2_major = ""

partner3_name = ""
partner3_netid = ""
partner3_major = ""

## Example 0.1: Random seed (IMPORTANT: PLEASE READ AND RUN THIS EXAMPLE)

A random seed is a number used to initialize a pseudorandom number generator. If we use the same seed, we will get the same random number sequence.

In this lab, we will use the random seed to help you check the simulations' output. Please do not delete the line that set the seed to 107 in any puzzles.

In [1]:
import pandas as pd
import random as rd
rd.seed(107)
print(rd.random())
print(rd.random())
print(rd.random())
rd.seed(107)
print(rd.random())
print(rd.random())

0.24648195966935815
0.5812899303907797
0.9722810069256511
0.24648195966935815
0.5812899303907797

## Example 0.2: Simulation of two dice (you can go to part 1 directly if you are confident)

Suppose we roll two different **fair six-sided dice** at the same time.  One die is colored **blue** while the other is colored **red**.

Simulate the above situation **1,000** times and store the observations of the value of the blue die and the red die in `df0`.

In [2]:
# Step 0: Set the random seed for replicability
rd.seed(107)
# Step 1: Start with an empty list to store the simulated data
data = []
# Step 2: Implement the simulation with a for-loop
for i in range(1000):
    blue = rd.randint(1, 6)
    red = rd.randint(1, 6)
    d = {"blue": blue, "red": red}
    data.append(d)    
# Step 3: Convert the list of simulated data to a dataframe
df0 = pd.DataFrame(data)
# Sanity check: Show a few random rows
df0.sample(5)

     blue  red
73      4    5
964     5    5
895     3    5
851     4    2
344     2    6

## Example 0.3: Probability estimation of a two-dice event

Using the above simulated data, we can estimate the probability that **the blue die lands on 4 or the red die lands on 2**.

In [3]:
# Numerator:    sum only counts the number of TRUEs.
# Denominator:  len counts both TRUEs and FALSEs.
#               You can try len((df0['blue'] == 4) | (df0['red'] == 2)).
p03 = sum((df0['blue'] == 4) | (df0['red'] == 2))/len(df0)
print(p03)
# An alternative approach is to subset the success dataframe and find its length.
df0_success = df0[(df0['blue'] == 4) | (df0['red'] == 2)]
p03_alt = len(df0_success)/len(df0)
print(p03_alt)

0.318
0.318

## Example 0.4: Exact probability of a two-dice event

We can also calculate the exact probability that **the blue die lands on 4 or the red die lands on 2**, which is not far from our estimate in Example 0.3.

In [4]:
p03_exact = 1/6 + 1/6 - 1/36
p03_exact

0.3055555555555555

# Part 1 | Rolling Three Dice

## Puzzle 1.1: Simulation of three dice

Suppose we roll three different **fair six-sided dice**: a **white**, a **red**, and a **blue**.

Simulate the above situation **1,000** times and store the observations in `df1`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.2. Try not to copy and paste so that you can learn line by line.</span>

In [10]:
rd.seed(107)
data = []
for i in range(1000):
    dice1 = rd.randint(1,6)
    dice2 = rd.randint(1,6)
    dice3 = rd.randint(1,6)

    d = {"dice1": dice1, "dice2": dice2, "dice3": dice3}
    data.append(d)
df1 = pd.DataFrame(data)
df1.sample(5)

     dice1  dice2  dice3
453      1      2      5
8        2      6      5
192      1      2      5
593      3      3      6
195      4      1      2

## Puzzle 1.2: Probability estimation of a three-dice event

Estimate the probability that the **sum of all three dice is exactly 9**. Store the result in `p12`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.3. You can use .sum(axis=1) to obtain the sum of all three dice row by row.</span>

In [15]:
p12 = sum((df1['dice1']) + (df1["dice2"]) + (df1["dice3"]) == 9)/len(df1)
p12

0.127

In [16]:
## == TEST CASES for Part 1 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.

assert(len(df1) == 1000), "Make sure your df1 has exactly 1,000 observations"
assert(p12 == 127/1000), "Make sure you set the seed to 107 and estimate the correct probability in p12"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

# Part 2 | Fliping Four Coins

## Puzzle 2.1: Simulation of four coins

Suppose we flip **four fair coins**, one coin at a time and one after another. Each coin has two sides: **"head" (defined as 1)** and **"tail" (defined as 0)**.

Simulate the above situation **50,000** times and store the observations in `df2`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.2. Try not to copy and paste so that you can learn line by line.</span>

In [19]:
rd.seed(107)
data = []
for i in range(50000):
    coin1 = rd.randint(0,1)
    coin2 = rd.randint(0,1)
    coin3 = rd.randint(0,1) 
    coin4 = rd.randint(0,1) 
    d = {"coin1": coin1, "coin2": coin2, "coin3": coin3, "coin4": coin4}
    data.append(d)
df2 = pd.DataFrame(data)
df2.sample(5)

       coin1  coin2  coin3  coin4
39364      1      1      0      1
46671      1      0      0      1
1409       1      1      0      1
22808      1      0      1      1
38293      1      1      0      1

## Puzzle 2.2: Probability estimation of a four-coins event

Estimate the probability that **the first two coin flips are both heads and last two coin flips are both tails**. Store the result in `p22`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.3.</span>

In [37]:
p22 = p22 = sum(((df2["coin1"] == 1) & (df2["coin2"] == 1) & (df2["coin3"] == 0) & (df2["coin4"] == 0)))/len(df2)
p22

0.06382

## Puzzle 2.3: Probability estimation of another four-coins event

Estimate the probability that **at most two coin flips are heads**. Store the result in `p23`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.3. You can use .sum(axis=1) to obtain the "sum" of four coins row by row.</span>

In [30]:
p23 = sum((df2["coin1"] + df2["coin2"] + df2["coin3"] + df2["coin4"] <= 2))/len(df2)
p23

0.68536

In [38]:
## == TEST CASES for Part 2 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.

assert(len(df2) == 50000), "Make sure your df2 has exactly 50,000 observations"
assert(p22 == 3191/50000), "Make sure you set the seed to 107 and estimate the correct probability in p22"
assert(p23 == 34268/50000), "Make sure you set the seed to 107 and estimate the correct probability in p23"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

# Part 3 | Avengers: Infinity War

## Puzzle 3.1: Simulation of the battle on Titan

Suppose the **power level** of the characters engaged in the battle on Titan can be modelled as follows:

1. Thanos:  a random integer between 80 to 120.
2. Strange: a random integer between 10 to 20.
3. Stark:   a random integer between 10 to 16.
4. Parker:  a random integer between 6 to 12.
5. Mantis:  a random real number between 0.8 to 1 (inclusive). The code for Mantis is given.
6. Drax:    a random integer between 8 to 16.
7. Nebula:  a random integer between 8 to 16.
8. Quill:   a random integer between -10 to 10.

Simulate the power levels **100,000** times **in the order listed above** and store the observations in `df3`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.2. Try not to copy and paste so that you can learn line by line.</span>

In [40]:
rd.seed(107)
data = []
for i in range(100000):
    thanos = rd.randint(80,120)
    strange = rd.randint(10,20)
    stark = rd.randint(10,16)
    parker = rd.randint(6,12)
    mantis = rd.uniform(0.8, 1)
    drax = rd.randint(8,16)
    nebula = rd.randint(8,16)
    quill = rd.randint(-10,10)
    d = {"thanos": thanos, "strange": strange, "stark": stark, "parker": parker, "mantis": mantis, "drax": drax, "nebula": nebula, "quill": quill}
    data.append(d)
df3 = pd.DataFrame(data)
df3.sample(5)

       thanos  strange  stark  parker    mantis  drax  nebula  quill
70075      99       12     11       7  0.933183    11      14      8
231        82       18     10      10  0.881850    16       8      9
7676      103       19     16      11  0.894874     9      12      3
15791     114       15     15      12  0.981489    16      13     -6
22672     112       15     15      10  0.847465    12      16      2

## Puzzle 3.2: Probability estimation of winning the battle

Suppose the superheroes win when
$$
\mathrm{Strange} +\mathrm{Stark} +\mathrm{Parker} +\mathrm{Drax} +\mathrm{Nebula} +\mathrm{Quill} \ge \mathrm{Mantis} \times \mathrm{Thanos}.
$$
Estimate the probability that **the superheroes win**. Store the result in `p32`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.3. You can use df[list].sum(axis=1) to obtain the row sum of columns with name in list.</span>

In [41]:
p32 = sum((df3["strange"] + df3["stark"] + df3["parker"] + df3["drax"] + df3["nebula"] + df3["quill"]) >= (df3["mantis"] * df3["thanos"]))/len(df3)
p32

0.01717

## Puzzle 3.3: Conditional probability estimation of winning the battle

Recall the superheroes win when
$$
\mathrm{Strange} +\mathrm{Stark} +\mathrm{Parker} +\mathrm{Drax} +\mathrm{Nebula} +\mathrm{Quill} \ge \mathrm{Mantis} \times \mathrm{Thanos}.
$$
Estimate the probability that **the superheroes win given that $\mathrm{Mantis} < 0.9$**. Store the result in `p33`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">use Bayes' rule (or definition of conditional probability) on top of the code in Puzzle 3.2.</span>

In [46]:
dfmantis = df3[df3["mantis"] < 0.9]
p33 = sum(((df3["strange"] + df3["stark"] + df3["parker"] + df3["drax"] + df3["nebula"] + df3["quill"]) >= (df3["mantis"] * df3["thanos"])) & (df3["mantis"] < 0.9))/len(dfmantis)
p33

0.03127697588982796

In [47]:
## == TEST CASES for Part 3 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.

assert(len(df3) == 100000), "Make sure your df3 has exactly 100,000 observations"
assert(p32 == 1717/100000), "Make sure you follow the instruction in Puzzle 3.1 and estimate the correct probability in p32"
assert(p33 == 1558/49813), "Make sure you follow the instruction in Puzzle 3.1 and estimate the correct probability in p33"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

## Puzzle 3.4: Usefulness of simulation

❓ **Individual Reflection Question** ❓ Can you find the exact probabilities in Puzzle 3.2/3.3? What are the advantage(s) of simulation?

Yes, it looks like I can find the probabilities in Puzzle 3.2/3.3! 
Some advantages of simulation include the following: 
you can repeat something over and over
can change the variables for each version of simulation

❓ **Group Discussion Question** ❓ Recall our title 1/14,000,605 from Avengers: Infinity War (see https://www.youtube.com/watch?v=eGKPfZTXHsc if you haven't). Discuss with your groupmates if you have seen other examples of simulation in movies.

# Part 4 | Beyond probability estimation

## Puzzle 4.1: Simulation of points on a unit square

Imagine we have a **unit square** with the corners at $(0,0)$, $(0,1)$, $(1,1)$ and $(1,0)$, respectively.

Simulate **100,000** random points on this square and store the observations in `df4`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.2. The x-coordinate and y-coordiante of a random point can be generated by rd.random().</span>

In [59]:
rd.seed(107)
data = []
for i in range(100000):
    x = rd.random() 
    y = rd.random()
    radius = (0,0)
    d = {"x": x, "y": y, "radius": radius }
    data.append(d)
df4 = pd.DataFrame(data)
df4.sample(5)

              x         y  radius
55541  0.825681  0.037279  (0, 0)
76619  0.736382  0.091910  (0, 0)
27711  0.906572  0.164677  (0, 0)
20695  0.821894  0.934046  (0, 0)
82743  0.153284  0.459295  (0, 0)

## Puzzle 4.2: Estimation of $\pi$

Now, we incribe a **circle** (with radius $0.5$) in the previous square. The circumcenter is $(0.5, 0.5)$. Clearly, a point would fall inside the circle if
$$
(x-0.5)^2 +(y-0.5)^2 \le 0.5^2.
$$
On the other hand, we have the following relationship:
$$
\frac{\text{no. of pts inside the circle}}{\text{no. of pts inside the square}}
\approx \frac{\text{area of the circle}}{\text{area of the square}}
= \frac{0.5^2 \pi}{1} = \frac{\pi}{4}.
$$
Rearranging the equation, we can estimate $\pi$ by
$$
\pi \approx \frac{4 \times \text{no. of pts inside the circle}}{\text{no. of pts inside the square}}.
$$

Estimate $\pi$ using the above relationship. Store the result in `pie`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 0.3. 
The number of points inside the circle can be found by checking the equation (x-0.5)^2 +(y-0.5)^2 <= 0.5^2.</span>

In [64]:
circle = sum(((df4["x"] - 0.5)**2) + (df4["y"] - 0.5)**2 <= (0.5**2))
pie = (4 * circle) / (len(df4)) 
pie

3.14192

In [65]:
## == TEST CASES for Part 4 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.

assert(len(df4) == 100000), "Make sure your df4 has exactly 100,000 observations"
assert(pie == 314192/100000), "Make sure you use the correct equation(s) in Puzzle 4.2"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

## Puzzle 4.3: Beyond probability estimation

❓ **Individual Reflection Question** ❓ Puzzle 4.2 presents an example where we use simulation for estimating quantity other than probability. Can you name other application(s) of simulation?

Hint (double-click this cell to see it): <span style="color:#ffffff00">check https://en.wikipedia.org/wiki/Monte_Carlo_method#Applications if you have no clues at all.</span>

Something that I thought of that would be a good example of an application for simulation in general is for weather conditions.  Simulations are able to help provide predictions of forecasts based on the radar, satellite data, and whatever else is able to forecasters. The Monte Carlo method looks interesting, also!

❓ **Group Discussion Question** ❓ Do you know any other approaches to estimate $\pi$? Discuss with your groupmates whether you like the simulation approach or not (and why).

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1.  Save your work. To do this, go to File -> Save All

2.  After you have saved, exit this notebook and follow the webpage instructions to commit this lab to your Git repository!